<!DOCTYPE html>

<html>
    
    <head>
        <title><%=title%></title>
        
        <link rel="stylesheet" href="/css/common.css" />
    </head>
    
    <body id="body">
        <div class="wrap">
            <div class="gnb">
                <ul>
                    <li>MAIN</li>
                    <li>TECH</li>
                    <li>HOBBY</li>
                    <li>COMMUNITY</li>
                </ul>
            </div>

            <div class="content">
                <button class="btnBbsInsert">등록</button>
                <button class="btnBbsUpdate">수정</button>
                <button class="btnBbsDelete">삭제</button>

                <table class="tblBbs">
                    <thead>
                        <tr>
                            <td><input type="checkbox" class="chkAll" /></td>
                            <td>번호</td>
                            <td>제목</td>
                            <td>내용</td>
                            <td>등록</td>
                            <td>등록일</td>
                            <td>수정</td>
                            <td>수정일</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

                <button class="btnBbsInsert">등록</button>
                <button class="btnBbsUpdate">수정</button>
                <button class="btnBbsDelete">삭제</button>
            </div>
        </div>
        
        <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </body>
</html>
