/**
 * COMMON CSS
 *
 */
* {
    margin: 0;
    padding: 0;
}
body {}


/** 
 * CUSTOM CSS
 *
 */
div.wrap {
    margin: 0 auto;
    padding: 0;
	width: 700px;
}

div.gnb {
    width: 690px;
    background-color: #000;
    padding: 0;
}
div.gnb > ul {
    margin: 0 auto;
    padding-left: 64px;
    list-style-type: none;
    color: #FFF;
    height: 50px;
}
div.gnb > ul > li {
    float: left;
    width: 140px;
    text-align: center;
    padding: 10px 0 10px 0;
    line-height: 30px;
}

div.content {
    margin-top: 10px;
    margin-right: 10px;
}


table.tblBbs {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
table.tblBbs thead td {
    border-top: 1px solid #AAA;
    border-bottom: 2px solid #AAA;
    text-align: center;
    font-size: 11pt;
    font-weight: bold;
    padding: 6px;
}
table.tblBbs tbody td {
    border-bottom: 1px solid #AAA;
    text-align: center;
    font-size: 9pt;
    padding: 6px;
}
table.tblBbs tbody tr:hover {
    background-color:#EEE;
}



button {
    border: 0;
    color: rgb(255, 214, 214);
    font-size: 9px;
    padding: 8px;
    text-shadow: 0px -1px 0px rgba(30, 30, 30, 0.8);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: rgb(160, 32, 32);
    background: -moz-linear-gradient(90deg, rgb(160, 32, 32) 30%, rgb(229, 64, 64) 70%);
    background: -webkit-linear-gradient(90deg, rgb(160, 32, 32) 30%, rgb(229, 64, 64) 70%);
    background: -o-linear-gradient(90deg, rgb(160, 32, 32) 30%, rgb(229, 64, 64) 70%);
    background: -ms-linear-gradient(90deg, rgb(160, 32, 32) 30%, rgb(229, 64, 64) 70%);
    background: linear-gradient(0deg, rgb(160, 32, 32) 30%, rgb(229, 64, 64) 70%);
    -webkit-box-shadow: 0px 2px 1px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    0px 2px 1px rgba(50, 50, 50, 0.75);
    box-shadow:         0px 2px 1px rgba(50, 50, 50, 0.75);
}